.container{
    text-align: center;
    margin-top:23px;
    background-color: black;
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 450rpx;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 100px;
    height: 90px;
    margin: 6px;
}

.calculator{
    border: 4px solid #13695d;
    background-color: #99eeff;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 35px;
    font-family: monospace;
    color: aqua;
}